header {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    top: 0px;
    left: auto;
    right: 0px;
    border-bottom: 1px solid rgb(33, 33, 33);
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 64px;
}

h1 {
    width: 900px;
    font-size: 20px !important;
}